/* 
--linen: #f4e7e1ff;
--antique-brass: #c0977fff;
--chestnut: #824b35ff;
--kobe: #932f19ff;
--spanish-bistre: #767619ff; 
*/
/* DOCUMENT CSS */
.container {
  max-height: 85vh;
}

.container a{
  color:#767619ff;
}

/* BODY CSS */
.main {
  min-height: 75vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  /* width:80%; */
}

/* FOOTER CSS */
.footer {
  display: flex;
  flex: 1;
  /* padding: 2rem 0; */
  min-height: 10vh;
  border-top: 1px solid #824b35ff;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  width: 50%;
  justify-content: left;
  text-align:left;
}
.title a{
  color: #932f19ff;
}


.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100vw;
}

.navbar {
  display: flex;
  list-style-type: none;
  text-align:center;
  width: 100%;
  border-bottom:1px solid #824b35ff;
  min-height: 15vh;
}
.nav{
  display:inline-flex;
  list-style-type: none;
  justify-content: right;
  width: 50%;
  flex-wrap: wrap;
}
.nav li{
  padding:1rem;
  min-width: 20%;
}
.nav li a {
  color: #824b35ff;
}



.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #824b35ff;
  color: #824b35ff;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 18vw;
}

.card:hover,
.card:focus,
.card:active {
  color: #696a26ff;
  border-color: #696a26ff;
  cursor:pointer;
}

.icon{
  max-width:100%;
}

.banner {
  height:50vh;
  overflow: hidden;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
